.cfg/
.cache/
.fzf/
.gem/
.gnupg/
.icons/
.kube/
.local/
.mozilla/
.npm/
.nv/
.nvm/
.oh-my-zsh/
.pki/
.ssh/
.themes/
.tldr/
.tmux/
.vscode/
Desktop/
Documents/
Downloads/
Music/
Pictures/
Public/
Templates/
Videos/
snap/
google-cloud-sdk/
portables/
dev/
work/
.config/balena-etcher-electron/
.config/Code/
.config/configstore/
.config/dconf/
.config/filezilla/
.config/gcloud/
.config/google-chrome*
.config/gedit/
.config/gsconnect/
.config/gtk*
.config/ibus*
.config/nautilus/
.config/navicat/
.config/pulse/
.docker/
.putty/
.bash_history
.bash_logout
.boto
.fzf.bash
.fzf.zsh
.ECEauthority
.pam_environment
.sudo_as_admin_successful
.xsel.log
.zcompdump*
.zsh_history
