.cache/
.fzf/
.gem/
.gnupg/
.icons/
.local/
.mozilla/
.npm/
.nv/
.nvm/
.oh-my-zsh/
.pki/
.ssh/
.themes/
.tldr/
.tmux/
.vscode/
snap/
Desktop/
Documents/
Downloads/
Music/
Pictures/
Public/
Templates/
Videso/
dev/
work/
.bash_history
.bash_logout
.boto
.fzf.bash
.fzf.zsh
.ECEauthority
.pam_environment
.sudo_as_admin_successful
.xsel.log
.zcompdump*
.zsh_history
