# Ignore everything
*

# Except these
!.asdfrc
!.config/gh/config.yml
!.default-npm-packages
!.gitconfig
!.gitignore
!.iterm2/com.googlecode.iterm2.plist
!.tool-versions
!.zshrc
!Brewfile
!LICENSE
!README.md
!avengers.yml
!install.sh
